@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  display: inline-block;
}

p {
  font-size: 1rem;
}

a.active {
  background-color: #e8e8e8;
}
